<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(171, 214, 179);">
  <span class="navbar-brand mb-0 h1">Livre de recettes</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item navbar-custom-link">
        <a class="nav-link" routerLink="/recipes">Recettes</a>
      </li>
      <li routerLinkActive="active" class="nav-item navbar-custom-link">
        <a class="nav-link" routerLink="/shopping-list">Liste d'achats</a>
      </li>

    </ul>

  </div>
  <li ngbDropdown class="form-inline dropleft">
    <button class="btn btn-success" id="dropdownManage" ngbDropdownToggle>Gérer</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManage">
      <button ngbDropdownItem>Sauvegarder données</button>
      <button ngbDropdownItem>Importer données</button>
    </div>
  </li>
</nav>