<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-width: 600px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownRecipe" ngbDropdownToggle>Recipe</button>
        <div ngbDropdownMenu aria-labelledby="dropdownRecipe">
            <button ngbDropdownItem>To shopping list</button>
            <button ngbDropdownItem (click)="onEdit()">Edit recipe</button>
            <button ngbDropdownItem>Delete recipe</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>