/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.btn-recipe {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.dropdown-menu {
    background-color: #C8E6CF;
}

button.dropdown-item:hover {
    background-color: darkseagreen;
}