<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nom</label>
                    <input type="text" id="name" class="form-control item-color" #nameInput>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="amount">Quantité</label>
                    <input type="number" id="amount" class="form-control item-color" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success marging-left-10" type="button" (click)="onAdd()">Ajouter</button>
                    <button class="btn btn-danger marging-left-10" type="button">Supprimer</button>
                    <button class="btn btn-secondary marging-left-10" type="button">Vider la liste</button>
                </div>
            </div>
        </form>
    </div>
</div>